html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: rgba(0, 0, 0, 0.836);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  min-width: 1140px;
}

.header {
  width: 100%;
  background: #086972;
  text-decoration: none;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 54px;
}
@media (max-width: 479px) {
  .navbar-nav {
    min-height: 30px;
  }
}

.logo {
  color: #fff;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1.2em;
  width: 20%;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
}

.logo:hover {
  color: #00ffff;
}

.menu {
  position: absolute;
  top: 54px;
  right: 0;
  display: none;
  flex-direction: column;
  padding: 15px 15px;
  margin: 0;
  list-style: none;
  background-color: black;
  width: 100%;
}

.menu-item {
  padding: 10px 0;
  transition: background-color 0.4s;
}

.menu-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  padding: 0 15px;
  font-size: 16px;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .navbar-nav {
    align-items: center;
  }
  .button-toggle {
    display: none;
  }
  .menu {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #086972;
  }
}

@media (max-width: 479px) {
  .intro-text {
    font-size: 50px;
  }
  /* .menu-link {
    font-size: 18px;
  }
  .navbar {
    font-size: 50px;
  } */
}

.menu-item:hover {
  background-color: rgba(21, 240, 119, 0.212);
  border-radius: 5px;
}
.button-toggle {
  width: 54px;
}

.intro-inner {
  display: flex;
  padding: 60px 0;
  gap: 92px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .intro-inner {
    flex-direction: column;
    gap: 30px;
    padding: 40px 0;
  }
  .intro-img {
    max-width: 100%;
    object-fit: contain;
  }
  .intro-text {
    padding: 20px 20px 10px;
    text-align: center;
  }
}

.intro-img {
  border: 1px solid white;
  border-radius: 5px;
  width: 350px;
}

.intro-text {
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px 20px 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
}

.intro-text h1,
.intro-text h3 {
  margin: 0 0 15px;
  font-weight: bold;
  color: #fff;
}

.intro-text p {
  font-style: normal;
  color: #fff;
}

.contact-block {
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 45px;
  padding: 20px 0 20px 0;
}
.contacts h3 {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.contact-menu {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  color: #fff;
}

.contact-menu-items {
  list-style: none;
}
.contact-menu-items h4 {
  padding: 5px 0;
}
.contact-menu-items a {
  color: #3676ec;
}

.contact-menu a {
  text-align: center;
}

.skills {
  margin-bottom: 45px;
  padding: 25px 0;
  background-color: #086972;
}

.skills-block {
  max-width: 700px;
  margin: 0 auto;
}

.skills-block h3 {
  margin: 35px 0 24px;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.skills-menu {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.skills-menu-item {
  padding: 10px 20px;
  background-color: rgba(21, 240, 119, 0.212);
  border-radius: 5px;
  cursor: pointer;
}

.skills-menu-item + .skills-menu-item {
  margin-left: 15px;
}

.skills-menu-item:hover {
  color: #00ffff;
}

.code-block h3 {
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.code-block p {
  margin-bottom: 30px;
  color: #fff;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.code-ex {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 45px;
  color: #fff;
  background-color: #086972;
  border-radius: 5px;
}

.code-ex pre {
  padding: 20px 0;
}

.languages-block {
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px 0 20px 0;
  margin-bottom: 45px;
}

.languages-block h3 {
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.languages-block ul {
  color: #fff;
  font-style: normal;
  line-height: 2;
}

.education {
  background-color: #086972;
  margin-bottom: 45px;
}

.education-block {
  padding: 25px 0;
}

.education-block h3 {
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.education-block ul {
  color: #fff;
  font-style: normal;
  line-height: 2;
}

.footer {
  margin-bottom: 50px;
}

.footer-cont {
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px 0 20px 0;
}
.footer p {
  color: #fff;
  text-align: center;
}

.footer a {
  padding-left: 15px;
  color: #3676ec;
}
